
.section1Div{
    position: relative;
    top: 60px;
}



@media only screen and (min-width: 1024px){
    .workPicForMobile{
        display: none;
    }
    .section1ofLearn{
        min-height: 110vh;
    }
    .GridOrdFlex{
        display: flex;
    }
}

@media only screen and (max-width: 1000px){
    .workPicForComp{
        display: none;
        pointer-events: none;
    }
    .section1ofLearn{
        min-height: 145vh;
    }
    .GridOrdFlex{
        display: grid;
    }

}



.purpleColor{
    color: #6d4aff;
}
.sizeOfIcon{
    width: 60px;
    height: 60px;
}
.macApp{
    margin-left: auto;
    margin-right: auto;
}
.workPicForComp{
    pointer-events: none;
}
.workPicForMobile{
    pointer-events: none;
}